<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
            <h1 class="text-center mb-3">
              <i class="fas fa-user-plus"></i> Register
            </h1>
              <form action="/users/register" method="POST">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Choose Your Branch</label>
                <select class="form-control" id="exampleFormControlSelect1" name="branch">
                  <option value="HS_Fairview">Fairview Heart Sushi</option>
                  <option value="HS_Heartland">Heartland Heart Sushi</option>
                  <option value="HS_London">London Heart Sushi</option>
                  <option value="BoilBar">Yonge Boil Bar</option>
                  <option value="BoilPlus">Mississauga Boil Plus</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="exampleFormControlSelect1">Choose Your Role</label>
                  <select class="form-control" id="exampleFormControlSelect1" name="role">
                    <option value="Server_or_Front_Host">Server/Front Desk Host</option>
                    <option value="Sushi_Bar_Roller">Sushi Bar Roller</option>
                    <option value="Executive_Chef _or_Kitchen_Manager">Executive Chef/Kitchen Manager</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="exampleFormControlSelect1">Account Type</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type">
                  <option value="employee">Employee</option>
                  <option value="manager">Manager</option>
                  <option value="admin">Admin</option>
                </select>
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input
                  type="username"
                  id="name"
                  name="username"
                  class="form-control"
                  placeholder="Enter Your username"
                  value="<%= typeof username != 'undefined' ? username : '' %>"
                />
              </div>
              <div class="form-group">
                  <label for="first_name">First Name</label>
                  <input
                    type="first_name"
                    id="name"
                    name="first_name"
                    class="form-control"
                    placeholder="Enter Your First Name"
                    value="<%= typeof first_name != 'undefined' ? first_name : '' %>"
                  />
              </div>
              <div class="form-group">
                <label for="last_name">Last Name</label>
                <input
                  type="last_name"
                  id="name"
                  name="last_name"
                  class="form-control"
                  placeholder="Enter Your Last Name"
                  value="<%= typeof last_name != 'undefined' ? last_name : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="address">Home Address</label>
                <input
                  type="address"
                  id="address"
                  name="address"
                  class="form-control"
                  placeholder="Enter Your Home Address"
                  value="<%= typeof address != 'undefined' ? address : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="address">Post Code</label>
                <input
                  type="post_code"
                  id="post_code"
                  name="post_code"
                  class="form-control"
                  placeholder="Enter Your Post Code"
                  value="<%= typeof post_code != 'undefined' ? post_code : '' %>"
                />
              </div>
              <div class="form-group">
                <label for="address">City</label>
                <input
                  type="city"
                  id="city"
                  name="city"
                  class="form-control"
                  placeholder="Enter Your City"
                  value="<%= typeof city != 'undefined' ? city : '' %>"
                />
              </div>
              <div class="form-group">
                  <label for="email">Email Address</label>
                  <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Your Email Address"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                  />
              </div>
              <div class="form-group">
                <label for="mobile">Phone Number</label>
                <input
                  type="mobile"
                  id="phonenumber"
                  name="mobile"
                  class="form-control"
                  placeholder="Enter Your Phone Number"
                  value="<%= typeof mobile != 'undefined' ? mobile : '' %>"
                />
              </div>
              <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Create Password"
                    value="<%= typeof password != 'undefined' ? password : '' %>"
                  />
              </div>
              <div class="form-group">
                  <label for="password2">Confirm Your Password</label>
                  <input
                    type="password"
                    id="password2"
                    name="password2"
                    class="form-control"
                    placeholder="Confirm Password"
                    value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                  />
              </div>
              <button type="submit" class="btn btn-primary btn-block">
                  Register
              </button>
              </form>
            <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
          </div>
        </div>
</div>

<script> document.title = 'Register Pages' </script>