<div class="card">
        <div class="card-header">
            Course Number: <%=course.course_number%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title: <%=course.title%></h5>
          <p class="card-text">Category: <%=course.category%></p>
          <p class="card-text">Author： <%=course.author%></p>
          <p class="card-text">Package： <%=course.package%></p>
          <p class="card-text">Description： <%=course.description%></p>
          <a href="/users" class="btn btn-primary">test for test </a>
            
        </div>
      </div>
<!-- {{#if user}}
	<form id="classRegForm" method="post" action="/{{type}}s/classes/register">
		<input type="hidden" name="student_id" value="{{user._id}}">
		<input type="hidden" name="class_id" value="{{class._id}}">
		<input type="hidden" name="class_title" value="{{class.title}}">
		<input type="submit" class="button" value="Register For This Class">
	</form>
{{else}}
	<p>You must be logged in to register for this class</p>
{{/if}} -->